[package]
name = "forge_ui"
version.workspace = true
authors.workspace = true
edition.workspace = true
description.workspace = true

[lib] # Wichtig: Das ist eine Bibliothek

[dependencies]
bevy = { workspace = true }
uuid = { workspace = true }
serde = { version = "1.0", features = ["derive"] } # Für Theme Deserialisierung
log = "0.4"                                        # Für Logging
